html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #407052;
}

#mainHolder {
    width: 300px;
    height: 40%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
}
  
#loginForm {
    align-self: flex-start;
    display: grid;
    align-items: center;
}
  
.loginFormField::placeholder {
    color: #3a3a3a;
}
  
.loginFormField {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    border-right: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
}
  
#loginFormSubmit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
}

#loginFormSubmit:hover{
    background-color: #777777;
}