.incBtn{
    user-select: none;
    display: block;
    margin: 0 auto;
    margin-top: -20px;
    height: 45px;
    width: 240px;
    border-radius: 10px; 
    border: 1px black;
    border-bottom:2px black solid;
    border-right:2px black solid;
    color: black;
    background-color: #19a5f7;
    box-shadow: 2px;
    font-family:'Franklin Gothic Medium';
    font-size: 20px;
}

#header{
    font-family: 'Courier New', Courier, monospace
}

.incBtn:hover{
    background-color: aquamarine;
    cursor: pointer;
}

.incBtn:active{
    border: none;
}

#scoreHolder{
    border-radius: 5px;
    color: rgb(189, 23, 23);
    background-color: rgb(168, 151, 184);
}

h1{
    margin-top: 15px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #407052;
}

#gameHolder {
    width: 600px;
    height: 400px;
    display: grid;
    justify-items: center;
    align-items: top;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 5px 2px black;

}

#nicknameHolder{
    font-size: 45px;
    margin-top: -70px;
    font-family: 'Courier New', Courier, monospace;
}